<div class="container">
  <h3>Add Organization</h3>

  <form [formGroup]="organizationForm" class="organization-form">

    <div class="group">
      <input type="text" formControlName="name" class="control" placeholder="Name">
    </div>

    <div class="group">
      <input type="text" formControlName="address" class="control" placeholder="Address">
    </div>

    <div class="group">
      <input type="text" formControlName="activitie" class="control" placeholder="Activitie">
    </div>


    <button [disabled]="!organizationForm.valid" [ngClass]="organizationForm.valid == false ? 'disabled' : ' ' " (click)="create()" type="button">Add</button>
  </form>
</div>
